<section class="cards container">
  <div class="cards-flex">
    <div class="cards-images">
      <ul class="cards-img-list">
        <li class="cards-img-list-item">
          <img
            src="/img/cards/card-1-vivat.jpg"
            alt="business card vivat"
            class="cards-image"
          />
        </li>
        <li class="cards-img-list-item">
          <img
            src="/img/cards/card-2-keratime.jpg"
            alt="business card keratime"
            class="cards-image"
          />
        </li>
      </ul>
    </div>
    <div class="cards-content">
      <div class="cards-title-wrapper">
        <h2 class="cards-title">Wizytówki Laminowane</h2>
        <a href="#services" class="anchor-button"></a>
      </div>
      <p class="cards-text">
        <span class="underline">Wizytówki 90x50mm</span> (85x55) 350g Foliowanie
      </p>
      <ul class="cards-list">
        <li class="cards-list-item">
          <p class="cards-list-item-text">SoftTouch 2 strony</p>
        </li>
        <li class="cards-list-item">
          <p class="cards-list-item-text">Dostawa gratis</p>
        </li>
        <li class="cards-list-item">
          <p class="cards-list-item-text">Terminy realizacji 2-3 dni</p>
        </li>
      </ul>
      <a class="kontakt-btn" target="_self" href="https://wa.me/48574665774">
        <span class="kontakt-btn-text">Nie masz projektu? Pomożemy!</span>
      </a>
    </div>
  </div>
</section>
