<!-- <footer class="footer container">
  <div class="footer-box">
    <p class="map">mapa</p>
    <div class="footer-content">
      <div class="foot-cont-row">
        <div class="logo-social">
          <p>logo</p>
          <ul class="foot-soc-links">
            <li class="foot-soc-links-item">
              <p>facebook</p>
            </li>
            <li class="foot-soc-links-item">
              <p>youtube</p>
            </li>
            <li class="foot-soc-links-item">
              <p>instagram</p>
            </li>
          </ul>
        </div>
        <div class="navigation">
          <ul class="foot-nav-list">
            <foot-nav-list-item>Druk offsetowy</foot-nav-list-item>
            <foot-nav-list-item>Projektowanie graficzne</foot-nav-list-item>
            <foot-nav-list-item>Druk na koszulkach</foot-nav-list-item>
            <foot-nav-list-item>Druk wielkoformatowy</foot-nav-list-item>
            <foot-nav-list-item>Dekoracja szyb</foot-nav-list-item>
            <foot-nav-list-item>3D litery</foot-nav-list-item>
          </ul>
        </div>
        <div class="foot-contacts">
          <p class="foot-address">ul. Pawła Ślęczka 24, Zabrze 41-800</p>
          <p class="foot-tel">+4857 46-65-774</p>
          <button type="button">Skontaktuj</button>
        </div>
      </div>
    </div>
  </div>
</footer> -->
