<section class="hero container">
  <div class="hero-content">
    <a class="hero-btn" target="_self" href="https://wa.me/48574665774">
      <div class="hero-btn-top">
        <img
          src="/img/kontakt-btn-wa/wapp-kont-btn-logo.png"
          alt="whattsapp icon"
          width="16"
          height="16"
          class="kontakt-btn-icon"
        />
        <span class="hero-btn-text">szybki kontakt</span>
      </div>
      <span class="kontakt-btn-tel">+4857 46-65-774</span>
    </a>
    <h1 class="hero-title">Reklamowa drukarnia</h1>
    <p class="hero-text">" Drukujemy wszystko, oprócz pieniędzy …</p>
    <a class="pomożemy-btn" target="_self" href="https://wa.me/48574665774">
      <span class="kontakt-btn-text">Nie masz projektu? Pomożemy!</span>
    </a>
  </div>
  <img src="/img/hero-img/hero-img.png" alt="clients from hell" width="315px" />
</section>
