<!-- <section class="reviews container">
  <h2 class="rev-main-title">Reviews from our customers</h2>
  <div class="rev-flex">
    <ul class="rev-list">
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text">
            Niesamowita jakość druku i szybka dostawa! Gorąco polecam BigFish do
            wszystkich potrzeb drukowania.
          </p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname">Anna Kowalska</h3>
                <p class="rev-person-name-city">Warsaw</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text">
            Profesjonalna obsługa i świetna komunikacja. Jestem bardzo
            zadowolony z finalnego produktu.
          </p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname">Piotr Nowak</h3>
                <p class="rev-person-name-city">Kraków</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text">
            BigFish pomógł mi z zamówieniem niestandardowym. Wszystko było
            idealne od początku do końca!
          </p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname">Magdalena Zielińska</h3>
                <p class="rev-person-name-city">Gdańsk</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section> -->
