<section class="serv-nav container">
  <div class="serv-nav-main">
    <h2 class="serv-nav-main-title">Nasze usługi</h2>
    <ul class="serv-nav-list">
      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-1.png"
        >
          <img
            src="/img/services-nav/usl-1.png"
            alt="Druk offsetowy"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title">Druk offsetowy</h3>
        </a>
      </li>

      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-2.png"
        >
          <img
            src="/img/services-nav/usl-2.png"
            alt="Projektowanie graficzne"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title">Projektowanie graficzne</h3>
        </a>
      </li>

      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-3.png"
        >
          <img
            src="/img/services-nav/usl-3.png"
            alt="Druk na koszulkach"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title">Druk na koszulkach</h3>
        </a>
      </li>

      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-4.png"
        >
          <img
            src="/img/services-nav/usl-4.png"
            alt="Druk wielkoformatowy"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title">Druk wielkoformatowy</h3>
        </a>
      </li>

      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-5.png"
        >
          <img
            src="/img/services-nav/usl-5.png"
            alt="Dekoracja szyb"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title">Dekoracja szyb</h3>
        </a>
      </li>

      <li class="serv-nav-list-item">
        <a
          href="#"
          class="serv-nav-item-anchor"
          data-img="img/services-nav/modal/uslugi-6.png"
        >
          <img
            src="/img/services-nav/usl-6.png"
            alt="3D litery"
            class="serv-nav-png"
            width="128px"
          />
          <h3 class="serv-nav-item-title-sp">3-D litery</h3>
        </a>
      </li>
    </ul>

    <div class="modal" id="modal">
      <span class="modal-close">&times;</span>
      <img class="modal-content" id="modal-img" src="" alt="Modal Image" />
    </div>

    <div class="serv-nav-btn-center">
      <a class="pomożemy-btn" target="_self" href="https://wa.me/48574665774">
        <span class="kontakt-btn-text">Nie masz projektu? Pomożemy!</span>
      </a>
    </div>
  </div>
</section>
