<!-- <section id="services" class="services container">
  <h2 class="serv-title">Nasze usługi</h2>
  <ul class="serv-list">
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">Druk offsetowy</h3>
          <p class="serv-item-text">
            Wykonamy dowolną teksturę. Od realistycznego złota po czarny marmur.
            Wysyłamy zamówienie w ciągu 2 dni. Prosty montaż, poradzi sobie
            nawet dziecko.
          </p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">Projektowanie graficzne</h3>
          <p class="serv-item-text">
            Gwarancja 2 lata, montaż na terenie całej Polski.
          </p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">Druk na koszulkach</h3>
          <p class="serv-item-text">
            Unikalne, dowolne rozmiary, indywidualne podejście.
          </p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">Druk wielkoformatowy</h3>
          <p class="serv-item-text">Get a Fresh, Modern & Colorful Twister</p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">Dekoracja szyb</h3>
          <p class="serv-item-text">Get a Fresh, Modern & Colorful Twister</p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
    <li class="serv-list-item">
      <div class="serv-list-flex">
        <img src="" alt="" class="serv-img" />
        <div class="serv-content">
          <h3 class="serv-item-title">3D litery</h3>
          <p class="serv-item-text">Get a Fresh, Modern & Colorful Twister</p>
          <button type="button" class="serv-btn">Szczegóły</button>
        </div>
      </div>
    </li>
  </ul>
</section> -->
