.before-title {
  color: #e52629;
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.how-to-title {
  position: relative; /* обов'язково для ::after */
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.how-to-first {
  font-size: 48px;
  text-transform: uppercase;
}

.how-to-skontaktuj-btn {
  display: inline-flex;
  align-items: center;
  flex-direction: column; /* Елементи один під одним */
  justify-content: center;
  background-color: #c00e19;
  padding: 12px 25px 8px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: background 0.3s ease, transform 0.3s ease;
  gap: 5px;
  margin: 30px auto;
}

.how-to-skontaktuj-btn:hover {
  background-color: #a40b14;
  transition: background-color 0.3s ease;
}

.backtips {
  background-color: #a40b14;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 20px;
  border: 3px solid gray;
}

.approach-text {
  line-height: 1.5;
}

.our-app-list-item-title {
  color: #e52629;
  margin-bottom: 10px;
}

.our-app-list-item-text,
.our-app-list-item-title {
  text-align: center;
}
